.book-page {
    padding: 2rem;
    margin: 100px;
    background-color: #f9f9f9;    
}

.books-header {
    text-align: center;
    margin: 2rem;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        padding: 1rem 2rem;
        font-size: 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    :hover button {
        background-color: #0056b3;
    }
}

.books-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }