.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    background-color: #2c3e50;
    color: white;

    & .links{
        list-style: none;
        display: flex;
        gap: 1.5rem;

        li{
            cursor: pointer;
            transition: color 0.3s;

            &:hover{
                color: #3498db;
            }
        }
    }
}